form{
    text-align: center;
}
a{
    text-decoration:none;
    font-style: italic;
}
button{
    border: solid;
}
.head{
    border: solid;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}